<script src="{{site.url}}/assets/js/lunr.js"></script>
<script src="{{site.url}}/assets/js/lunr.stemmer.support.js"></script>
<script src="{{site.url}}/assets/js/lunr.multi.js"></script>
<script src="{{site.url}}/assets/js/lunr.vi.js"></script>

<style>
    #lunrsearchresults {padding-top: 0.2rem;}
    .lunrsearchresult {padding-bottom: 1rem;}
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}

   #lunrsearch {
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #000;
     border-radius: 20px;
     box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
   }
</style>

<p><input type="text" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search..." /></p>
<div id="lunrsearchresults">
    <ul></ul>
</div>

<script>
    {% assign counter = 0 %}
    var documents = [{% for page in site.posts %}{
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "VNdate"   : "{{ page.date | date: '%d/%m/%Y %H:%M'}} GMT+7",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
        }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];
    
    var idx = lunr(function () {
        this.use(lunr.multiLanguage('vi', 'en'))
        this.ref('id')
        this.field('title')
        this.field('body')
    
        documents.forEach(function (doc) {
            this.add(doc)
        }, this)
    });
    
    var currentPage = 0;
    var resultsPerPage = 10;
    var keyword = '';
    var results=[];
    const lunrsearchresults=document.getElementById('lunrsearchresults');
    
    function lunr_search() {
        keyword = document.getElementById('lunrsearch').value;
        if(keyword) {
            //put results on the screen.
            results = idx.search(keyword);
        }
    }
    function displayResults(page) {
        var start = page * resultsPerPage;
        var end = start + resultsPerPage;
        if (page == 0){
            lunrsearchresults.innerHTML = '';
        }
        lunrsearchresults.innerHTML = '<p>Đã tìm thấy <strong>'+results.length+'</strong> kết quả cho từ khóa <strong>'+keyword+'</strong></p>';
        if(results.length>0){    
            for (var i = start; i < end && i < results.length; i++) {
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var VNdate = documents[ref]['VNdate'];
                var resultItem = document.createElement('p');
                resultItem.innerHTML = '<h1><a href="'+url+'">'+title+'</a></h1><p class="author"><span class="date">'+VNdate+'</span></p>';
                lunrsearchresults.appendChild(resultItem);
            }
        }
    }
    
    document.getElementById('lunrsearch').addEventListener('keyup', function(event) {
        if (event.key === 'Enter') {
            currentPage = 0;
            lunr_search();
            displayResults(0);
            event.preventDefault();
        }
    });
    
    window.onscroll = function() {
        if ((window.innerHeight + Math.ceil(window.scrollY)) >= document.body.offsetHeight) {
            currentPage++;
            lunr_search(currentPage);
        }
    };
</script>