<script src="{{site.url}}/assets/js/lunr.js"></script>
<script src="{{site.url}}/assets/js/lunr.stemmer.support.js"></script>
<script src="{{site.url}}/assets/js/lunr.multi.js"></script>
<script src="{{site.url}}/assets/js/lunr.vi.js"></script>

<style>
    #lunrsearchresults {padding-top: 0.2rem;}
    .lunrsearchresult {padding-bottom: 1rem;}
    .lunrsearchresult .title {color: #d9230f;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script>
    var documents, idx;
    fetch('{{site.url}}/search.json')
    .then(response => response.json())
    .then(data => {
        documents = data;
        console.log(documents)
        fetch('{{site.url}}/assets/server/search_index.json')
        .then(response => response.json())
        .then(data => {
            idx = lunr.Index.load(data);
            lunr_search();
            displayResults(0);
        });
    });
    
    var url = new URL(window.location.href);
    const keyword = url.searchParams.get('q') || '';
    var currentPage = 0;
    var resultsPerPage = 10;
    var results=[];
    const lunrsearchresults=document.getElementById('lunrsearchresults');
    
    function lunr_search() {
        if(keyword) {
            //put results on the screen.
            results = idx.search(keyword);
            console.log(results);
        }
    }
    function displayResults(page) {
        var start = page * resultsPerPage;
        var end = start + resultsPerPage;
        if (page === 0){
            lunrsearchresults.innerHTML = '<p>Đã tìm thấy <strong>'+results.length+'</strong> kết quả cho từ khóa <strong>'+keyword+'</strong></p>';
        }
        if(results.length>0){    
            for (var i = start; i < end && i < results.length; i++) {
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var VNdate = documents[ref]['VNdate'];
                var resultItem = document.createElement('p');
                resultItem.innerHTML = '<h1><a href="'+url+'">'+title+'</a></h1><p class="author"><span class="date">'+VNdate+'</span></p>';
                lunrsearchresults.appendChild(resultItem);
            }
        }
    }
    
    window.onscroll = function() {
        if ((window.innerHeight + Math.ceil(window.scrollY)) >= document.body.offsetHeight) {
            currentPage++;
            displayResults(currentPage);
        }
    };
</script>